box-sizing-reset()
normalize()

::-moz-selection
  background $color-primary
  color #fff

::selection
  background $color-primary
  color #fff

html,
body
  height 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%
  cursor default

html
  font-size 10px

body
  font-size 1rem
  font-family $font-default
  font-variant-ligatures none
  background $color-default
