
$color-default = #262626
$color-primary = #29FF9C
$color-primary-alt = #3decc2
$color-text = #333

$wrapper-size = 1040px

$font-default = 'Inconsolata', sans-serif
$font-title = 'Objectivity', sans-serif

$path-assets = '../'
$path-img = $path-assets + 'img/'
$path-svg = $path-assets + 'svg/'
$path-fonts = $path-assets + 'fonts/'

$padding-body = 10em

$phone = 580px
$tablet = 880px
$desktop-small = 1000px
$desktop-large = 1260px
$desktop-big = 1480px
$desktop-xbig = 1630px

rupture.use-device-width = false
rupture.scale            = 0 $phone $tablet $desktop-small $desktop-large $desktop-big $desktop-xbig
rupture.scale-names      = 'phone' 'tablet' 'desktop-small' 'desktop-large' 'desktop-big' 'desktop-xbig'
